html {
	box-sizing: border-box;
}

*, *:before, *:afetr {
	box-sizing: inherit
}

.box-a {
  background-color: lightgray;
  padding: 30px;
  border: 3px solid black;
  margin-bottom: 20px;
  width: 200px
  height: 150px;
}

.box-b {
	background-color: orange;
	padding: 40px;
	margin-bottom: 40px;
	width: 266px
	height: 150px;
}
.box-c {
	background-color: pink;
	width: 30px;
	height: 60px;
}