/*global style*/
html {
	background-color: #87CDE4;
	box-sizing: border-box;
}

*,*:before,*:after {
	box-sizing: inherit;
}

body {
	font-family: Tahoma, sans-serif;
	font-size: 87%;
}
.container {
	max-width: 940px;
	margin-left: auto;
	margin-right: auto; 
	background-color: #FFF8C2;
	padding-left: 40px;
	padding-right: 40px;
}

/*header style*/
.header {
	padding-top: 20px;
	color: #FFAF5E;
}
.header-title {
	margin: 0;
	font-weight: normal;
	font-size: 165%;
}

.header-slogan {
	margin: 0;
}
h1 {
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
p {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;

}
.nav {
	margin-top: 20px;
}
.nav-list {
	display: flex;
	margin: 0;
	padding: 0;
}
.nav-sublist {
	position: absolute;
	background-color: #F5C9AF;
	margin: 0;
	padding: 0;
}
.nav-list-item {
	list-style: none;
	margin-right: 5px;
}
.nav-list-item-link {
	display: block;
	color: #96715A;
	text-decoration: none;
	padding: 10px 20px;
	border: 3px solid#F5C9AF;
	border-bottom: none;
}
.nav-list-item-link:hover {
	background-color: #F5C9AF;
}
/*content style*/
.content-area {
	display: flex;
	border-top: 3px solid #F5C9AF;
	border-bottom: 3px solid #F5C9AF;
}

.main-area {
	width: 66%;
	padding-right: 40px;
}

.sidebar {
	width: 34%;
	background-color: #F5C9AF;
	padding: 20px 40px;
	font-size: 85%;
}

/*footer*/
.footer {
	text-align: center;
	font-size: 85%;
	color: #6B5B52;
	padding-bottom: 20px;
	padding-top: 20px;
}
